{% extends 'auth/base.html' %}

{% block content %}
<div class="flex justify-center mt-8">
    <div class="flex flex-col w-80">
        <img src="{{ url_for('.static', filename='logo.svg') }}" alt="KJJ Logo" class="mb-4">
        <form method="POST" action="/register">
            <div class="text-white text-xl font-bold mb-2">Create account</div>
            <div class="flex flex-col">
                <input class="rounded p-1.5" id="username" name="username" type="text" placeholder="Username">
            </div>
            <div class="flex flex-col mt-4">
                <input class="rounded p-1.5" id="password" name="password" type="password" placeholder="Password">
            </div>
            <div class="flex flex-col mt-4">
                <input class="rounded p-1.5" id="password" type="password" placeholder="Confirm Password">
            </div>
            <button
                class="rounded w-full bg-blue-600 p-1.5 text-white mt-4 hover:bg-blue-800 ease-in-out duration-300">Register</button>
        </form>
        <div class="text-sm mt-2 text-white">Already have an account? <a href="/login"
                class="text-blue-600 hover:text-blue-800 ease-in-out duration-300">Login here</a></div>
    </div>
</div>
{% endblock %}