{% extends 'stats/base.html' %}

{% block content %}
<div class="mt-4 mb-12 px-60 w-full">
    <p class="text-blue-600 underline hover:cursor-pointer mb-4 w-10" id="back-home-button">Back</p>
    <p class="text-4xl text-white font-bold mb-4">{{ year_id }} Playoffs</p>
    <table class="w-full">
        <tr class="text-left text-white">
            <th>Winner</th>
            <th>Loser</th>
            <th>Round</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Ties</th>
        </tr>
        {% for game in playoffs %}
        <tr class="text-left text-slate-400">
            <td>{{ game.teamIDwinner }}</td>
            <td>{{ game.teamIDloser }}</td>
            <td>{{ game.round }}</td>
            <td>{{ game.wins }}</td>
            <td>{{ game.loses }}</td>
            <td>{{ game.ties }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<script>
    $("#back-home-button").click(function () {
        location.href = "/"
    })
</script>
{% endblock %}