<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - HIGHEST GRADE EVER</title>
      {% else %}
      <title>Welcome to HIGHEST GRADE EVER</title>
      {% endif %}
    </head>
    <body>
        <div>
            HIGHEST GRADE EVER:
            <a href="/index/None">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>