{% extends 'base.html' %}

{% block content %}
    <h1>Admin Dashboard</h1>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Team Name</th>
                <th>Year ID</th>
            </tr>
        </thead>
        <tbody>
            <h1><h1>
            {% for row in results %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

