{% extends "base.html" %}
{% block content %}

     <br><br>
     <form method="POST" action="{{ url_for('submit_form', teamName='None') }}">
     <label for="team"> <b style="font-size: larger;">Team Name : </label>
     <select name="team" id="team-select" required onchange="window.location.href='/index/' + this.value"  style="font-size: 20px; height: 27px;">
     <option value="None">--Select a team--</option>
      {% for team in teams %}
        {% if team_name and team == team_name %}
          <option value="{{ team }}" selected>{{ team }}</option>
        {% else %}
          <option value="{{ team }}">{{ team }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <br>
    {{ form.hidden_tag() }}
    {{ form.year.label }} {{ form.year(disabled=team_picked) }}
    <br>
    {{ form.submit }}
    </form>
{% endblock %}

