{% extends 'base.html' %}

{% block content %}
  <h1 style="text-align:center">Baseball Stats</h1>
  <br>
  {% if prediction %}
  <h2>Projected Win% for {{ next_year }} is {{ prediction }} </h2>
  <h3>5-fold Cross Validation</h3>
  {% for i in range( RMSEs|length ) %}
  	CV sample {{ i+1 }} RMSE: {{ RMSEs[i] }} 
	<br>
  {% endfor %}
  {% else %}
  <h2>Team is not currently active; 2023 Win% will not be predicted</h2>
  {% endif %}
  <br>
  <h2>Roster for {{ chosenTeam }} in {{ chosenYear }}</h2>
    <table>
        <thead>
	 <tr>
	  {% for player in roster %}
	      {{ player }}{% if not loop.last %}, {% endif %}&nbsp
	  {% endfor %}
	 </tr>
	</thead>
    </table>  
  <br>
    <h2>Batting Stats</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>C</th>
          <th>1B</th>
          <th>2B</th>
          <th>3B</th>
          <th>SS</th>
          <th>LF</th>
          <th>CF</th>
          <th>RF</th>
          <th>BA</th>
          <th>OBP</th>
          <th>SLG</th>
        </tr>
      </thead>
      <tbody>
        {% for key in battingStats %}
          <tr>
            <td>{{ battingStats[key][0] }}</td>
            <td>{{ battingStats[key][1] }}</td>
            <td>{{ battingStats[key][2] }}</td>
            <td>{{ battingStats[key][3] }}</td>
            <td>{{ battingStats[key][4] }}</td>
            <td>{{ battingStats[key][5] }}</td>
            <td>{{ battingStats[key][6] }}</td>
            <td>{{ battingStats[key][7] }}</td>
            <td>{{ battingStats[key][8] }}</td>
            <td>{{ battingStats[key][9] }}</td>
            <td>{{ battingStats[key][10] }}</td>
            <td>{{ battingStats[key][11] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  <br><br>
    <h2>Pitching Stats</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>G</th>
          <th>GS</th>
          <th>IP</th>
          <th>WHIP</th>
          <th>K/9</th>
        </tr>
      </thead>
      <tbody>
        {% for key in pitching_data.keys() %}
          <tr>
            <td>{{ pitching_data[key][0] }}</td>
            <td>{{ pitching_data[key][1] }}</td>
            <td>{{ pitching_data[key][2] }}</td>
            <td>{{ pitching_data[key][3] }}</td>
            <td>{{ pitching_data[key][4] }}</td>
            <td>{{ pitching_data[key][5] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}




